body{
    color: black;
    background: #355C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dabb11, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dabb11, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.heading {
    width: 80%;
    font-size: 22px;
}

.name_of_objects, #result_object_name, #result_object_accuracy{
    color: aquamarine;
}
#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 310px;
}